body {
  background: #eee;
  font-family: "Verdana", sans-serif;
  font-size: 16px;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 26px 8px 8px;
}

.title {
  background: #e3f4ff;
  margin: 8px;
  padding: 8px;
}

.content {
  background: #e3f4ff;
  margin: 8px;
  padding: 8px;
}

.button-container {
  background: #e3f4ff;
  text-align: center;
  margin: 8px;

}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  margin: 0px auto;
}
